@model ForgotPasswordViewModel

<div style="display:flex;justify-content:center">
    <form method="post">
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <button class="btn btn-outlined" type="submit">Submit</button>
    </form>
</div>