@model ResetPasswordViewModel

<div style="display:flex;justify-content:center">
    <form  method="post">
		<input hidden asp-for="Email" name="name" value="" />
		<input hidden asp-for="Token" name="name" value="" />
		<div>
			<label for="password">Password</label>
			<input class="mb-0 form-control" asp-for="NewPassword" id="password" placeholder="Enter your new password">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
		</div>
		<div >
			<label for="password">Repeat Password</label>
			<input class="mb-0 form-control" asp-for="NewConfirmPassword" id="repeat-password" placeholder="Repeat your new password">
			<span asp-validation-for="NewConfirmPassword" class="text-danger"></span>
		</div>
		<div>
			<button type="submit" class="btn btn-outlined" >Change password</button>
		</div>
    </form>
</div>