@model List<Author>;
@{
    int counter = 0;
}
<div class="container">
    <div class="row">
        <div style="display:flex;justify-content:space-between;align-items:center;align-content:center;margin-top:20px;border:1px solid grey;padding:10px">
            <h3 style="margin-bottom:0">Authors</h3>
            <a class="btn-success" style="padding:10px;align-items:center;border-radius:10px" asp-controller="author" asp-action="create">Create</a>
        </div>
        <table class="table table-striped" style="margin-top:40px;border:1px solid grey">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model)
                {
                    counter++;
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@author.Name</td>
                        <td>
                            <div style="display:flex;">
                                <a style="margin-right:10px;color:white" class="btn btn-warning" asp-controller="author" asp-action="update" asp-route-id="@author.Id">Update</a>
                                <a style="color:white" class="btn btn-danger" asp-controller="author" asp-action="delete" asp-route-id="@author.Id">Delete</a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>